<!-- <p>task-info works!</p> -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Task History</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <ul>
                    <li *ngFor="let item of getTaskHistoryById()">
                        <h3>Title: {{item.taskTitle}}</h3>
                        <h5>Description: {{item.taskDesc}}</h5>
                        <h6>Due Date: {{item.taskDate | date}}</h6>
                        <h6>Priority: {{item.taskPrio==1 ? 'Low' : (item.taskPrio==2 ? 'Medium':'High')}}</h6>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>


<button class="btn btn-warning" (click)="open(content)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </svg>
    <!-- <img src="https://raw.githubusercontent.com/TusharKesarwani/TaskNinja/7764598518b91fded550e1b0dda7a35f9e424ce2/src/assets/info-circle-fill.svg" alt="Task Info"> -->
</button>